@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
}

:root {
  --background: oklch(0.949 0.0051 145.54);
  --primary: oklch(0.1643 0.0106 88.91);
  --primary-foreground: oklch(0.373 0.034 259.733);
  --secondary: oklch(0.9702 0 0);
  --border: oklch(0.928 0.006 264.531);
}
